.autocomplete-cont {
    margin-top: 20px;
    position: relative;
    input {
        min-width: 400px;
        height: 40px;
        border-radius: 12px;
        outline: none;
        border: 1px solid lightgray;
        padding: 10px;
        margin-bottom: 0;
    }
    .autocomplete-results {
        z-index: 99;
        min-width: 400px;
        position: absolute;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-top: 0;
        margin-top: 0;
        overflow: auto;
        border-radius: 12px;
        top: 100%;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .autocomplete-cont {
        margin-top: 20px;
        position: relative;
        input {
            width: 320px;
            min-width: 320px;
            height: 40px;
            border-radius: 12px;
            outline: none;
            border: 1px solid lightgray;
            padding: 10px;
            margin-bottom: 0;
        }
        .autocomplete-results {
            z-index: 99;
            width: 320px;
            min-width: 320px;
            position: absolute;
            background-color: white;
            color: black;
            padding-left: 20px;
            padding-top: 0;
            margin-top: 0;
            overflow: auto;
            border-radius: 12px;
            top: 100%;
            cursor: pointer;
        }
    }
}