.teams-cont {
    background-color: #e8eaf6;
}

.teams-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 15px;
    justify-content: space-between;
    padding: 80px;
}